/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; /* Bleu très clair pour le fond */
  color: #333;
}

.container {
  background-color: white;
  min-height: auto; /* Assurez-vous que le conteneur prend au moins toute la hauteur de la fenêtre */

}

.search-bar-wide {
  width: calc(100% - 40px); /* Garder de l'espace sur les côtés */
  padding: 30px 30px;
  font-size: 16px;
  margin: 20px auto 5px auto;
  display: block;
  border-radius: 75px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  color: #333;
}


.search-bar-wide:focus {
  border-color: darkblue; /* Changer la couleur de la bordure au focus */
  outline: none; /* Supprimer l'effet de focus par défaut */
}



.dropdown-menu {
  position: absolute;
  left: 50%; /* Positionner le menu à 50% de la largeur du conteneur */
  transform: translateX(-50%); /* Centrer le menu en utilisant une transformation */
  width: calc(100% - 40px);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  padding: 0;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f9ff;
}

.formation-link {
  text-decoration: none;
  color: #333;
}

.formation-link:hover {
  color: darkblue;
}